<%= form_for([@plant, @event], html: { class: 'event-form' }) do |f| %>
  <% if event.errors.any? %>
    <div class='error-explanation'>
      <h2><%= pluralize(event.errors.count, 'error') %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label 'Event' %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label 'What’s up?' %>
    <%= f.text_area :description %>
  </div>

  <div class='field'>
    <%= f.label 'When' %>
    <%= f.text_field :datetime %>
  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
