<h1><%= @plant.name %></h1>
<%= link_to 'Edit', edit_plant_path(@plant) %>
<%= link_to 'All Plants', plants_path %>

<h2>Actuals</h2>
<p>
  <strong>Scientific Name:</strong>
  <%= @plant.scientific_name %>
</p>

<p>
  <strong>Alternate Names:</strong>
  Just pretend this works
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Plant Type:</strong>
  <%= @plant.plant_type %>
</p>

<p>
  <strong>Pot Type:</strong>
  <%= @plant.pot_type %>
</p>

<p>
  <strong>Pot Size:</strong>
  <%= @plant.pot_size %>
</p>

<p>
  <strong>Pot Type:</strong>
  <%= @plant.pot_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @plant.location %>
</p>

<p>
  <strong>Soil:</strong>
  <%= @plant.soil %>
</p>

<p>
  <strong>Fertilizer:</strong>
  <%= @plant.fertilizer %>
</p>

<h2>Care Sheet Info</h2>
<p>
  <strong>Zone:</strong>
  <%= @plant.zone %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @plant.origin %>
</p>

<p>
  <strong>Dormancy Cycle:</strong>
  <%= @plant.dormancy_cycle %>
</p>

<p>
  <strong>Bloom Cycle:</strong>
  <%= @plant.bloom_cycle %>
</p>

<p>
  <strong>Propagation Method:</strong>
  <%= @plant.propagation_method %>
</p>

<p>
  <strong>Light Requirement:</strong>
  <%= @plant.light_requirement %>
</p>

<p>
  <strong>Fertilizer Requirement:</strong>
  <%= @plant.fertilizer_requirement %>
</p>

<p>
  <strong>Humidity Requirement:</strong>
  <%= @plant.humidity_requirement %>
</p>

<p>
  <strong>Water Requirement:</strong>
  <%= @plant.water_requirement %>
</p>

<p>
  <strong>Soil Requirement:</strong>
  <%= @plant.soil_requirement %>
</p>

<p>
  <strong>Pruning Requirement:</strong>
  <%= @plant.pruning_requirement %>
</p>

<p>
  <strong>Temperature Range:</strong>
  <%= @plant.temperature_range %>
</p>

<h2>When was the last time...</h2>

<p>
  <strong>Watered:</strong>
  <%= @plant.last_watered %>
</p>

<p>
  <strong>Pruned:</strong>
  <%= @plant.last_pruned %>
</p>

<p>
  <strong>Fertilized:</strong>
  <%= @plant.last_fertilized %>
</p>

<h2>Log Event</h2>
<%= button_to('Watered', [@plant, @event], params: { event: { name: 'Watered' } }) %>
<%= button_to('Pruned', [@plant, @event], params: { event: { name: 'Pruned' } }) %>
<%= button_to('Fertilized', [@plant, @event], params: { event: { name: 'Fertilized' } }) %>
<%= button_to('Neem Oil Applied', [@plant, @event], params: { event: { name: 'Neem Oil Applied' } }) %>
<%= button_to('Pesticide Applied', [@plant, @event], params: { event: { name: 'Pesticide Applied' } }) %>
<%= button_to('Alcohol Swab Pest Removal', [@plant, @event], params: { event: { name: 'Alcohol Swab Pest Removal' } }) %>
<%= button_to('Propagation via Leaf', [@plant, @event], params: { event: { name: 'Propagation via Leaf' } }) %>
<%= button_to('Propagation via Cutting', [@plant, @event], params: { event: { name: 'Propagation via Cutting' } }) %>
<%= button_to('Offshoot Removed', [@plant, @event], params: { event: { name: 'Offshoot Removed' } }) %>
<%= button_to('Blooming', [@plant, @event], params: { event: { name: 'Blooming' } }) %>
<%= button_to('Died', [@plant, @event], params: { event: { name: 'Died' } }) %>
<%= button_to('Yellow Leaves', [@plant, @event], params: { event: { name: 'Yellow Leaves' } }) %>
<%= button_to('Crispy Leaves', [@plant, @event], params: { event: { name: 'Crispy Leaves' } }) %>
<%= button_to('Puckered Leaves', [@plant, @event], params: { event: { name: 'Puckered Leaves' } }) %>
<%= button_to('Roots Checked', [@plant, @event], params: { event: { name: 'Roots Checked' } }) %>
<%= button_to('Misted', [@plant, @event], params: { event: { name: 'Misted' } }) %>
<%= button_to('Soaked', [@plant, @event], params: { event: { name: 'Soaked' } }) %>
<%= button_to('Potted Up', [@plant, @event], params: { event: { name: 'Potted Up' } }) %>
<%= button_to('Repotted', [@plant, @event], params: { event: { name: 'Repotted' } }) %>
<%= button_to('Moved', [@plant, @event], params: { event: { name: 'Moved' } }) %>

<%= render 'events/index', events: @events %>
