<!DOCTYPE html>
<html>
  <head>
    <title>Fancyplants</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <%- if user_signed_in? %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete %><br />
        <% end -%>
      </nav>
    </header>

    <div class='main-content'>
      <div class='flash'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
